* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin: 0;
    background: #edc0bf;
    background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%);
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

/* logo style */
.hamburger-menu {
    padding-right: 1.5rem;
    cursor: pointer;
}

.hamburger-menu .line {
    display: block;
    width: 2.5rem;
    height: 2px;
    margin-bottom: 10px;
    background-color: black;
    cursor: pointer;
}

.hide {
    display: none;
}

/* for Desktop view */
@media screen and (min-width:600px) {
    .navbar {
        justify-content: space-around;
    }

    .nav-menu {
        display: block;
        position: static;
        width: auto;
        margin-right: 0px;
        background: none;
    }

    .nav-menu a {
        display: inline-block;
        padding: 15px 20px;
    }

    .nav-menu a:hover {
        background-color: rgb(166, 205, 231);
        border-radius: 3px;
    }

    .hamburger-menu {
        display: none;
    }

    p,
    a {
        font-size: 1rem;
    }

    a {
        color: #040c7b;
        text-decoration: none;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* 網頁捲軸【背景】顏色 */
::-webkit-scrollbar-track {
    background: #3b405e;
}

/* 網頁捲軸【把手】顏色 */
::-webkit-scrollbar-thumb {
    background: #5294e2;
}

/* 網頁捲軸【滑過時】把手的顏色 */
::-webkit-scrollbar-thumb:hover {
    background: #005eff;
}